<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link href="../static/main.css" rel="stylesheet">
</head>
<body class = "background">
    <h1>회원가입</h1>
    <form action="/register" method="POST">
        <label for = "username" >아이디</label>
        <input type="text" id = "username" name = "username" required><br/><br/>
        <label for = "password" >비밀번호</label>
        <input type="password" id = "password" name = "password"required><br/><br/>
        <button type = "submit">가입하기</button>
    </form>
    <button><a href="/login">로그인 페이지로</a></button>
</body>
</html>